/* --------------------------------------------------
   FONTS
   -------------------------------------------------- */

@font-face {
    font-family: 'paperlogy';
    
    src: url('../../fonts/Paperlogy-4Regular.woff2') format('woff2'),
         url('../../fonts/Paperlogy-4Regular.woff') format('woff'),
         url('../../fonts/Paperlogy-4Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cafe24proslim';
    
    src: url('../../fonts/Cafe24PROSlimMax.woff2') format('woff2'),
         url('../../fonts/Cafe24PROSlimMax.woff') format('woff'),
         url('../../fonts/Cafe24PROSlimMax.ttf') format('truetype');
}



/* --------------------------------------------------*/

::selection {
    color: rgb(255, 255, 237, 1);
    background-color: rgba(25, 25, 25, 1);
}



/* --------------------------------------------------*/

.btn {
    background-color: rgba(255, 255, 237, 1);
    color: rgba(25, 25, 25, 1);

    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.btn:hover {
    border: 1px solid rgba(25, 25, 25, 1);
}

.btn:active {
    background-color: rgba(25, 25, 25, 1);
    color: rgb(255, 255, 237, 1);
}



/* --------------------------------------------------*/

html, body {
    font-family: 'lexendra';
    background-color: rgba(255, 255, 237, 1);
    color: rgba(25, 25, 25, 1);
}

h1 {
    font-family: 'lexendra';
    letter-spacing: 0px;
}



/* --------------------------------------------------
   HEADER
   -------------------------------------------------- */

header .logo {
    filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(380%) hue-rotate(314deg) brightness(102%) contrast(91%);
}

header ul a {
    color: rgba(25, 25, 25, 1);
}

header .hamburger {
    filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(380%) hue-rotate(314deg) brightness(102%) contrast(91%);
}



/* --------------------------------------------------
   FOOTER
   -------------------------------------------------- */

footer {
    background-color: rgba(255, 255, 237, 1);
    border-top: 1px solid rgba(25, 25, 25, 0.15);
}

footer .logo {
    filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(380%) hue-rotate(314deg) brightness(102%) contrast(91%);
}

footer hr {
    border: none;
    border-top: 1px solid rgba(25, 25, 23, 1);
}

footer .socials-ico {
    filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(380%) hue-rotate(314deg) brightness(102%) contrast(91%);
}

footer .footmenu span:active {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 237);
}

footer .lang .lang-btn {
    border: 1px solid rgba(25, 25, 25, 1);
}

footer .lang .lang-ico {
    filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(380%) hue-rotate(314deg) brightness(102%) contrast(91%);
}

footer .lang .list {
    background-color: rgb(25, 25, 25);
}

footer .lang .list div {
    color: rgb(255, 255, 237);
    border-bottom: 1px solid rgb(255, 255, 237);
}



/* --------------------------------------------------
   ODD FAIRIES
   -------------------------------------------------- */

#preview {
    background-color: rgb(255, 255, 237);
    text-align: center;
    
    height: 100vh;
    
}

#preview .logo {
    position: relative;
    top: 35vh;
    
    opacity: 1;
    transition: 0.5s;
}

#preview .btn {
    position: relative;
    top: 38vh;
}

@media only screen and (max-width: 800px) {
    #preview .logo {
        width: 300px;
    }
}