/* --------------------------------------------------
   FONTS
   -------------------------------------------------- */

@font-face {
    font-family: 'paperlogy';
    
    src: url('../../fonts/Paperlogy-4Regular.woff2') format('woff2'),
         url('../../fonts/Paperlogy-4Regular.woff') format('woff'),
         url('../../fonts/Paperlogy-4Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cafe24proslim';
    
    src: url('../../fonts/Cafe24PROSlimMax.woff2') format('woff2'),
         url('../../fonts/Cafe24PROSlimMax.woff') format('woff'),
         url('../../fonts/Cafe24PROSlimMax.ttf') format('truetype');
}



/* --------------------------------------------------*/

::selection {
    color: rgb(3, 25, 30, 1);
    background-color: rgba(253, 255, 252, 1);
}



/* --------------------------------------------------*/

.btn {
    background-color: rgba(3, 25, 30, 0.2);
    color: rgba(253, 255, 252, 1);
    border: 2px solid rgba(253, 255, 252, 1);

    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.btn:hover {
    border: 1px solid rgba(253, 255, 252, 1);
}

.btn:active {
    background-color: rgba(253, 255, 252, 1);
    color: rgb(3, 25, 30, 1);
}



/* --------------------------------------------------*/

html, body {
    font-family: 'paperlogy';
    background-color: rgba(3, 25, 30, 1);
    color: rgba(253, 255, 252, 1);
}

h1 {
    font-family: 'cafe24proslim';
    letter-spacing: 0px;
}



/* --------------------------------------------------
   HEADER
   -------------------------------------------------- */

header .logo {
    filter: invert(100%) sepia(51%) saturate(255%) hue-rotate(336deg) brightness(105%) contrast(102%);
}

header ul a {
    color: rgba(253, 255, 252, 1);
}

header .hamburger {
    filter: invert(100%) sepia(51%) saturate(255%) hue-rotate(336deg) brightness(105%) contrast(102%);
}



/* --------------------------------------------------
   FOOTER
   -------------------------------------------------- */

footer {
    background-color: rgba(3, 25, 30, 1);
    border-top: 1px solid rgba(253, 255, 252, 0.15);
}

footer .logo {
    filter: invert(100%) sepia(51%) saturate(255%) hue-rotate(336deg) brightness(105%) contrast(102%);
}

footer hr {
    border-top: 1px solid rgba(3, 25, 30, 1);
}

footer .socials-ico {
    filter: invert(100%) sepia(51%) saturate(255%) hue-rotate(336deg) brightness(105%) contrast(102%);
}

footer .lang .lang-btn {
    border: 1px solid rgba(253, 255, 252, 1);
}

footer .lang .lang-ico {
    filter: invert(100%) sepia(51%) saturate(255%) hue-rotate(336deg) brightness(105%) contrast(102%);
}



/* --------------------------------------------------
   THE SWORD CINEMA
   -------------------------------------------------- */

#preview {
    background-color: darkturquoise;
    text-align: center;
    
    height: 100vh;
    
}

#preview .logo {
    position: relative;
    top: 35vh;
    
    opacity: 1;
    transition: 0.5s;
}

#preview .btn {
    position: relative;
    top: 38vh;
}

@media only screen and (max-width: 800px) {
    #preview .logo {
        width: 300px;
    }
}