#first {
    width: 100%;
    height: 40rem;
}

.name-block {
    text-align: right;
    padding-top: 10rem;
    margin: 45px;
}

.name-block h3 {
    font-family: 'Lexendra';
    font-size: 45px;
    letter-spacing: -4px;
}

#mynameis {
    font-family: 'RubikMonoOne';
    font-size: 160px;
    letter-spacing: -18px;
    line-height: 120px;
}